
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{
    max-width: 100%;
}

:root{
    --text: #f5f3bb;
    --text-2: #7a82ab;
    --bg: #df2935;
    --bg-section1: #86ba90 ;
    --bg-header: #000000;
    --fondo-section: #000000e3;
}

.input{
    display: none ;
}

.icon-menu{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text);
}

header{
    background-color: var(--bg-header);
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
   
   
}

.nav-logo{
 font-size: 2rem;
 color: var(--text);
 display: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    gap: 1rem;
 
}

.nav-btn{
    text-decoration: none;
    color: #1e1e1e;
    border: 2px solid ;
    padding: .2rem 1rem;
    border-radius: 8px;
}

.menu li{
    margin: 0;
}
.menu{
    /* display: none; */
    background-color: rgb(21, 21, 21);
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center;
    width: 100%;
    z-index: 500;
    padding: 2rem 0px;
    visibility: none;
    opacity: 0;
    padding: 0 0  2rem 0;
 
}

.logo-mobile{
    color: var(--text);
}

#check:checked ~ .menu{
    visibility: visible;
    opacity: 1;
}



.menu a{
    color: #f1f1f1;
    font-size: 1.3rem;
    position: relative;
  
}
* img{
    width: 70%;
}
/**** section-1  ******/

.section-info{
    background-color: var(--bg);
    background-image: url(https://images.unsplash.com/photo-1573855619003-97b4799dcd8b?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 7rem;
    text-align: center;
    height: 800px;
    position: relative;
}

.section-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: var(--fondo-section);
}

.info-img{
    width: 90%;
}
.section-info *{
    color: #f3f3ff;
    position: relative;
    z-index: 1;
}


.section-info h2{
    letter-spacing: .5rem;
    /* max-width: 500px; */
}
.section-info p{
    max-width: 550px;
    color: #f3f3ff;
    font-size: 20px;
    line-height: 1.5rem;
    text-align: center;
}

.info-btn a{
    background-color: rgb(0, 116, 183);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
}

.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


.border-btn{
   background-color: var(--text) !important;
   color: var(--bg-header);
   animation-name: saltarBtn;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}
 

@keyframes saltarBtn{
    0%{
        transform: translateY(3px);
    }
    50%{
        transform:  translateY(-3px);
    }
    100%{
        transform: translateY(3px) ;
    }
}

/**seccion 2  */

.galery-section a{
    border-left: 1px solid #f3f3ff;
    border-top: 1px solid #f3f3ff;
}

.galery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 4rem;
    background-color: var(--bg-section1);
}
.textos{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.fa-solid{
    font-size: 1.5rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    width: 90%;
   
}
.galery-title{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--text);
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 380px;
    background-color: #fff1;
    /* box-shadow: 1px 1px 5px rgba(4, 4, 4, 0.067);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);

}

.card-img{
    width: 100%;
    border-radius: 10px; 
    display: block; 
}

.container-img{
    width: 90%;
    height: 50%;
    border-radius: .5rem;
}

.card span{
    max-width: 350px;
    margin: 0 auto;
    line-height: 1.5rem;
}

.card h2{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
}

.card a{
    background-color: #141414;
    margin: 0 auto;
    padding: .5rem 2rem;
    color: #f3f3ff;
    border-radius: 1rem;
}

.container-img{
    width: 100%;
    height: 350px;
    background-color: green;
    background-image: url(../assets/PHONE-PHOTO.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-disable{
    cursor: not-allowed ;
    background: #14141400 !important;
}

.nostock{
    position: relative;
}
.sin-stock{
    width: 200px;
    background-color: red;
    position: absolute;
    left: 9rem;
    top: 23rem;
    transform: rotate(35deg);

}


/***FOOTER ***/

footer{
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

.footer-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.border{
  
    width: 70%;
    text-align: center;
    color: var(--bg-header);
    gap: 1rem;
}


.redes-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.redes-items a{
    color: var(--bg-section1);
   
}

.footer-item{
    color: var(--bg-section1);
}

.redes-items img{
    width: 70px;
  
}




.locales-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}




.horarios-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


.title-footer{
    color: var(--bg-header);
    background-color: var(--text);
    width: 100%;
}

.flex-column{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.footer-container{
      
  flex-direction: column;
  padding: 2rem 0;
  display: flex;
  gap: 8rem;
}

.subir-btn{
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.subir-btn img{
  margin-left: .2rem;
  margin-top: .4rem;
}

video{
  display: none;
}

/**** MEDIA QUERIESSSS  ****/


@media (min-width: 769px){
    .icon-menu{
        display: none;
    }

    .menu{
        visibility: visible;
        opacity: 1;
        position: static;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        
    }

    .menu a{
        color: var(--text);
        font-weight: 500;
        font-size: 1.4rem;
    }

    .galery-section{
        width: 100%;  
        gap: 0;  
    }

    .card-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

    }

    .card h2{
        max-width: 400px;
        }

    .sin-stock{
        left: .1rem;
        top: 16rem;
    }

    .info-img{
        width: 50%;
    }

    .section-info{
        flex-direction: row;
        position: relative;
        width: 100%;
        padding: 0;
        background: none;
    }
    .textos{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: right;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .textos p{
        line-height: 2rem;
        max-width: 900px;
    }
    .card{
        width: 400px;
    }

    .title-container{
        flex-direction: row;
    }

    .container-img{
        width: 100%;
        height: 350px;
        background-image: url(../assets/PHONE-PHOTO.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .flex-column{
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .border{
      width: 100%;
     
    }

    .footer-container{
      
      flex-direction: column;
      padding: 2rem 0;
      display: flex;
      gap: 8rem;
    }

    .footer-container *{
      font-family: 'Quicksand', sans-serif;
    }
    .card a{
      cursor: pointer;
    }

    .subir-btn{
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 4rem;
      right: 2rem;
      background-color: var(--text);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
    .subir-btn img{
      width: 30px;
      height: 30px;
      margin-top: 7px;
      margin-right: .1rem;
    }

    .title-footer{
    width: 60%;
    padding: 1rem 0;
    border-radius: 10px;
    letter-spacing: .5rem;

    }

    .btn-disable{
      cursor: not-allowed !important;
    }

    .redes-container{
      background-color: var(--bg-header);
      width: 150px;
      padding: .5rem 0;
      border-radius: 10px;
    }

    .redes-container:hover{
      --bg-header: #171717;
      background-color: var(--bg-header);
    }

    video{
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    video{
      display: block;
    }


  }